{% extends "base.html" %}
{% block title %}Smarthome Home{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
<div class="text-center">
    <p class="text-5xl font-bold mt-24">LED Control Kamar 1</p>
    <div class="mt-12">
    <button type="button" onclick="onLedOn()" class="text-white bg-gradient-to-r from-blue-500 via-blue-600 to-blue-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 shadow-lg shadow-blue-500/50 dark:shadow-lg dark:shadow-blue-800/80 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2 ">Turn On</button>
    <button type="button" onclick="onLedOff()" class="text-white bg-gradient-to-r from-red-400 via-red-500 to-red-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800 shadow-lg shadow-red-500/50 dark:shadow-lg dark:shadow-red-800/80 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2">Turn Off</button>
    </div>
  </div>
  <script type="application/javascript">
    const setLedState = async (isLedOn) => {
        const fetchRensponse = await fetch("/led/" + (isLedOn?1:0), {method: 'POST'});
        if(!fetchRensponse.ok){
            alert("Command is not executed")
        }
    } 
    function onLedOn(){
        setLedState(true);
    }
    function onLedOff(){
      setLedState(false);
        
    }

</script>
{% endblock %}